* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color:#0a750d
  /* Prevent horizontal scroll */
}

html {
  background-color: #3B0467;
}

.main-title-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 24px;
}

.main-title {
  display: flex;
  justify-content: center;
  font-family: 'Pacifico', cursive;
  color: #0a750d;
  font-size: 48px;
}

.nav {
  display: flex;
  justify-content: center;
}

.cursor-pointed {
  pointer-events: auto;
  user-select: auto;
}

.glide__slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.glide__slide>img {
  height: 70vh;
  width: auto;
  border: 5px #4CAF50 inset;
  object-fit: contain;
  max-width: 100%;
  border-radius: 10px;
}

.love {
  display: flex;
  justify-content: center;
  width: 200px;
}

.payment {
  display: flex;
  justify-content: center;
  width: 50%;
  height: auto;
}

.google-map {
  padding-bottom: 50%;
  position: relative;
}

.google-map iframe {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

.btn-select {
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.btn-select:hover {
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	background-color:#5cbf2a;
}
.btn-select:active {
	position:relative;
	top:1px;
}

.btn {
	background:linear-gradient(to bottom, #db1bd5 5%, #c01dcf 100%);
	background-color:#db1bd5;
	border-radius:28px;
	border:1px solid #9f19ab;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #a026d1;
}
.btn:hover {
	background:linear-gradient(to bottom, #c01dcf 5%, #db1bd5 100%);
	background-color:#c01dcf;
}
.btn:active {
	position:relative;
	top:1px;
}
