
html{
   background-color: #f5f5f5;
}

.nav{
    display:flex;
    justify-content:center;
}

 .cursor-pointed{
        pointer-events: auto;
        user-select: auto;
 }

.glide__slide > img {
    justify-content: center;
    height: 75vh;
}

* {
    outline: 1px solid rgb(111, 0, 255);
}

 