#carousel .carousel-item img{
  object-fit: contain;
  object-position: center;
  height: 75vh;
  overflow: hidden;

}

.carousel-item > img {
  width: auto;
}

.pointed{
  cursor: none;
  position:absolute;
  top: 0px;
  left: 0px;
  height: 30px;
  width: 30px;
}